<ion-header>
  <ion-toolbar>
    <ion-title style="font-weight: bolder;">
        INVOICE
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" class="upload_Button" slot="end">KEY / CER</ion-button>
      <!-- Configuration Button -->
      <ion-button fill="clear" class="custom-button" (click)="openConfigModal()">
        <img src="../../../assets/icons/gearIcon.png" class="gear-icon"><img>
      </ion-button>    
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <div class="input-container">

      <!-- Top text fields -->
      
      <ion-item lines="none" style="margin-bottom: 10px;">
        <ion-input label="Date" readonly value="{{ selectedDate }}"></ion-input>
        <ion-button fill="clear" size="large" class="upload_Button" id="open-Calendar" expand="block"><ion-icon name="calendar-outline"></ion-icon></ion-button>
        <!-- <ion-datetime-button datetime="datetime" presentation="date" ></ion-datetime-button> -->
        <!-- <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="selectedDate" presentation="date"></ion-datetime> -->
      </ion-item>

      <ion-modal id="modal_Calendar" #modal trigger="open-Calendar">
        <ng-template>
            <div class="title-modal">
              <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="selectedDate" presentation="date"></ion-datetime>
            </div>
        </ng-template>
      </ion-modal>


        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime"></ion-datetime>
          </ng-template>
        </ion-modal>
      
      <ion-item lines="none" style="margin-bottom: 10px;">
        <ion-input label="Invoice Number" placeholder="Invoice Number" [(ngModel)]="invoiceNumber"></ion-input>
      </ion-item>

      <ion-item lines="none" style="margin-bottom: 10px;">
        <ion-input label="Issuer" placeholder="issuer" [(ngModel)]="issuer"></ion-input>
      </ion-item>

      <ion-item lines="none" style="margin-bottom: 10px;">
        <ion-input label="Receiver" placeholder="receiver" [(ngModel)]="receiver"></ion-input>
      </ion-item>

      <!-- Updated RFC inputs -->
      <ion-item lines="none" style="margin-bottom: 10px;">
        <ion-input label="RFC Receiver" placeholder="rfc receiver" [(ngModel)]="rfc_receiver"></ion-input>
      </ion-item>

      <ion-item lines="none" style="margin-bottom: 10px;">
        <ion-input label="RFC Issuer" placeholder="rfc issuer" [(ngModel)]="rfc_issuer"></ion-input>
      </ion-item>
      
      <ion-item lines="none" style="margin-bottom: 10px;">
        <ion-input label="cfdiUse" placeholder="cfdiUse" [(ngModel)]="cfdiUse"></ion-input>
      </ion-item>

      <ion-item lines="none" style="margin-bottom: 10px;">
        <ion-input label="Tax Regimen" placeholder="taxRegimen" [(ngModel)]="taxRegimen"></ion-input>
      </ion-item>

      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-input placeholder="name" [(ngModel)]="name"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="none">
              <ion-input placeholder="address" [(ngModel)]="address"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    
    <ion-item lines="none" style="margin-bottom: 10px;">
      <ion-input label="Logo's URL" placeholder="logoUrl" [(ngModel)]="logoUrl" (ionChange)="validateLogo()"></ion-input>
    </ion-item>

    <div *ngIf="isValidImage">
      <img [src]="logoUrl" alt="Logo" *ngIf="logoUrl && isValidImage" class="logo-sample"/>
    </div>
    <div *ngIf="!isValidImage && logoUrl">
      <p>URL not functional</p>
    </div>

    <ion-item lines="none" style="margin-bottom: 10px;">
      <ion-input label="Footer Message" placeholder="bottomNotice" [(ngModel)]="bottomNotice"></ion-input>
    </ion-item>
    
    <p>{{ bottomNotice || 'Menssage not written' }}</p>

    <!-- Buttons -->
    <div class="buttons-container">
      <ion-button expand="full">Upload KEY / CER</ion-button>
      <ion-button expand="full" (click)="addItem()">Add Item</ion-button>
      <ion-button expand="full" (click)="submitTable()">Submit</ion-button>
    </div>

    <!-- Table -->
    <div class="table-container">
      <ion-grid>
        <ion-row class="table-header">
          <ion-col>
            <ion-label>Quantity</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Description</ion-label>
          </ion-col>
          <ion-col>
            <ion-label>Price</ion-label>
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let row of tableRows">
          <ion-col>
            <ion-input type="number" [(ngModel)]="row.quantity"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="text" [(ngModel)]="row.description"></ion-input>
          </ion-col>
          <ion-col>
            <ion-input type="number" [(ngModel)]="row.price"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
