.form-container {
  --background-color: #fff !important; 
  display: flex;
  height: 100vh;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;

    ion-item {
      --padding-top: 8px;
      --padding-bottom: 8px;

      ion-label {
        color: #000;
      }

      ion-input {
        --min-height: 30px;
        --padding-start: 10px;
        --padding-end: 10px;
        --border-radius: 5px;
        --border-color: #000;
        --placeholder-color: #888;
      }
    }

    ion-button {
      margin-top: 20px;
      --border-radius: 5px;
      --background: #fff;
      --color: #000;
    }
  }

  .results {
    margin-top: 20px;
    text-align: center;
    align-items: center;
    width: 70%;
    p {
      color: #000;
      margin: 8px 0;
    }

    .logo-sample {
      max-width: 300px; /* Cambia este valor al tamaño máximo deseado */
      max-height: 300px; /* Cambia este valor al tamaño máximo deseado */
      width: auto;
      height: auto;
    }  
  }
}