<ion-header>
  <ion-toolbar class="toolbar-gray">
    <ion-buttons slot="start">
      <ion-title style="font-weight: bolder; font-size: 30px">
        INVOICE CONFIGURATION
      </ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="form-container">
    <div class="input-container">
      <ion-item lines="none" style="margin-bottom: 10px">
        <ion-input
          label="Logo's URL"
          placeholder="logoUrl"
          [(ngModel)]="logoUrl"
          (ionChange)="validateLogo()"
        ></ion-input>
      </ion-item>

      <div *ngIf="isValidImage">
        <img
          [src]="logoUrl"
          alt="Logo"
          *ngIf="logoUrl && isValidImage"
          class="logo-sample"
        />
      </div>
      <div *ngIf="!isValidImage && logoUrl">
        <p>URL not functional</p>
      </div>

      <ion-item lines="none" style="margin-bottom: 10px">
        <ion-input
          label="Footer Message"
          placeholder="bottomNotice"
          [(ngModel)]="bottomNotice"
        ></ion-input>
      </ion-item>

      <p><i>{{ bottomNotice || 'Message not written' }}</i></p>
    </div>
    <!-- Button -->
    <div class="buttons-container" (click)="confirm()">
      <ion-button expand="full">Confirm Configuration</ion-button>
      <ion-button class="" (click)="back()">Back</ion-button>
    </div>
  </div>
</ion-content>
