<ion-header>
</ion-header>

<ion-content>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col size="12" size-md="8" offset-md="2" size-lg="6" offset-lg="3">
        <div class="login-form">
          <div class="logo-container">
            <img src="assets/images/Blank_Square.svg" class="logo-image">
          </div>

          <form>
            <div class="name">
              <div class="input-wrapper">
                <h2>First name*</h2>
                <ion-item lines="none">
                  <ion-input type="text" style="color: black; text-align: center;"></ion-input>
                </ion-item>
              </div>
            
              <div class="input-wrapper">
                <h2>Last name*</h2>
                <ion-item lines="none">
                  <ion-input type="text" style="color: black; text-align: center;"></ion-input>
                </ion-item>
              </div>
            </div>

            <h2>Email*</h2>
            <ion-item lines="none">
              <ion-input type="text" style="color: black; text-align: center;"></ion-input>
            </ion-item>

            <h2>Phone number</h2>
            <ion-item lines="none">
              <ion-input type="number" style="color: black; text-align: center;"></ion-input>
            </ion-item>

            <h2>Password*</h2>
            <ion-item lines="none">
              <ion-input type="password" style="color: black; text-align: center;"></ion-input>
            </ion-item>

            <h2>Confirm Password*</h2>
            <ion-item lines="none">
              <ion-input type="password" style="color: black; text-align: center;"></ion-input>
            </ion-item>

            <ion-button class="gbutton" type="submit">CREATE ACCOUNT</ion-button>
            <div class="signup-link">
              <p>Already have an account? <br> Log in <ion-button class="clearButton" fill="clear" routerLink="/login"> here</ion-button></p>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
