<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding">
    <div class="main-div">
      <div class="title-container">
        THANKS FOR YOUR ORDER!
      </div>
      <div style="color: white; font-size: 24px; padding-bottom: 90px;">
        WE’RE PREPARING IT:)
      </div>    
      <div style="display: flex; flex-direction: column; align-items: center;">
        <ion-button class="buttonG" id="open-paymentMethod">ADD MORE</ion-button>
        <ion-button class="buttonR" type="submit" routerLink="/payment-screen">FINISH ORDER</ion-button>
      </div>
    </div>

  </ion-grid>
</ion-content>