<ion-content>
  <ion-list>
    <h1>Invoice Configuration</h1>
    <ion-item class="input-container">
      <ion-label position="floating">URL</ion-label>
      <ion-input type="text" name="logoUrl" [(ngModel)]="logoUrl" (ngModelChange)="validateLogo()"></ion-input>
    </ion-item>
    <ion-item class="input-container">
      <ion-label position="floating">Footer Text</ion-label>
      <ion-input type="text" name="bottomNotice" [(ngModel)]="bottomNotice"></ion-input>
    </ion-item>
    <div class="results">
      <h3>Logo:</h3>
      <p>{{ logoUrl || 'Logo not selected' }}</p>
      <div *ngIf="isValidImage">
        <img [src]="logoUrl" alt="Logo" *ngIf="logoUrl && isValidImage" class="logo-sample"/>
      </div>
      <div *ngIf="!isValidImage && logoUrl">
        <p>URL not functional</p>
      </div>
      <h3>Bottom Notice: </h3>
      <p>{{ bottomNotice || 'Menssage not written' }}</p>
    </div>
    <ion-button (click)="saveConfiguration()">Save Configuration</ion-button>
  </ion-list>
</ion-content>